.name-wrapper {
  background-color: transparent;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  padding:10px;
  border-radius: 20px;
  text-align: center;
  transform: translateY(-35%);
}

.leader-name {
  font-size: 20px !important;
  color: black;
  background: transparent;
}

@media only screen and (max-width: 600px) {
  .leader-name{
    font-size: 17px !important;
  }
  .name-wrapper{
    padding: 10px;
  }
}
