* {
  font-family: 'Montserrat', sans-serif;
}

.align-heading {
  margin: auto;
  text-align: center;
}

.heading {
  text-transform: uppercase;
  color: black;
  font-family: 'Outfit', sans-serif ;
}

.timeline {
  max-width: 70vw !important;
}

.body {
  width: 100%;
}

.bounce-in {
  margin-left: 2rem;
  margin-right: 1rem;
}

.entry .title:before{
  right:-6px !important;
  color: #333;
  background-color: wheat !important;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    width: 90vw;
  }
  .entry .title{
    width: 100% !important;
  }
  .timeline {
    margin: 0 !important;
  }
}